body{
  background: rgb(216, 212, 212);
  margin: auto;
  width: 90%;
  border: 0.1px solid rgb(199, 199, 197);
  padding: 10px;
  text-align: center;
}

img {
  object-fit: cover;
  border-radius:50%;
  width: 150px;
  height: 150px;
}
header{
  align-content: center;
  border: 1px rgb(202, 198, 198) solid;
}

#buttons li {
  float: left;
  list-style: none;
  text-align: center;
  color: rgb(197, 24, 24);
  background-color: #000000;
  margin-right:  20px;
  margin: 40px;
  width: 100px;
  line-height: 40px;
  border: 1px solid blue;
  border-radius: 4px;
}
#buttons li a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

#buttons {
  position: center;
}

#buttons li a:hover {
  text-decoration: none;
  color: #000000;
  background-color: #33B5E5;
}
main{
  margin: 150px;
}
main div p{
  text-align: left;
}

div id{
  
}